@import "reset";
@import "fonts";
@import "vars";
@import "header";
@import "hero";
@import "about";
@import "projects";
@import "posts";
@import "footer";
@import "404";
@import "pagination";
@import "post-page";
@import "dark-mode-toggle";

html {
    scroll-behavior: smooth;
}

body:not(pre,code) {
    font-family: var(--font-body);
    font-size: var(--font-size);
    color: var(--font-color);
    background: var(--background-color);
}


h1, h2, h3 {
    font-family: var(--font-headings);
    font-weight: 500;
}

h1 {
    font-size: 2.67rem;
    margin-bottom: var(--paragraph-margin);
}

h2 {
    font-size: 2.22rem;
    margin-bottom: var(--paragraph-margin);
}

h3 {
    font-size: 1.78rem;
    margin-bottom: var(--paragraph-margin);
}

h4 {
    font-size: 0.78rem;
    font-weight: 300;
}

p {
    line-height: 1.7rem;
    margin-bottom: var(--paragraph-margin);
}

:not(pre) > code {
    font-family: var(--font-mono);
    font-size: 14px;
    background: var(--background-gray);
    border-radius: 5px;
    padding: 0 5px;
}

.highlight > div{
    border-radius: var(--border-radius);
    margin-bottom: var(--paragraph-margin);
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: var(--nav-height);
}

ul {
    list-style: inside;
}

.container {
    padding: var(--container-padding);
    padding-bottom: 0;
}

button {
    cursor: pointer;
}

.button-primary {
    position: relative;
    padding: 1rem;
    font-family: var(--font-headings);
    border-radius: var(--border-radius);
}

.button-primary::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: -1;
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
}

.button-primary::after {
    content: '';
    z-index: -2;
    position: absolute;
    top: calc(-1 * var(--border-width));
    bottom: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    right: calc(-1 * var(--border-width));
    background: var(--gradient);
    border-radius: var(--gradient-border-radius);
}

.button-primary:hover.button-primary::before{
    background-color: transparent;
}

.section-link {
    display: block;
    text-align: right;
    font-family: var(--font-headings);
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px){
    .section-link {
        padding-top: 0;
    }
}