:root {
    --light: #FCFAFF;
    --dark: #070707;
    --dark-gray: #222222;
    --light-gray: #cbd5e1;
    --gradient: linear-gradient(45deg, #2D4DE0, #9F71F0 30%, #FC6277 60%, #F8EF6F 95%);
    --font-mono: 'IBM Plex Mono', monospace;
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-size: 18px;
    --font-headings: var(--font-mono);
    --font-body: var(--font-sans);
    --font-color: var(--light);
    --background-color: var(--dark);
    --container-padding-horizontal: 5rem;
    --container-padding-vertical: 2rem;
    --container-padding: var(--container-padding-vertical) var(--container-padding-horizontal);
}

@media (prefers-color-scheme: light) {
    :root {
        --font-color: var(--dark);
        --background-color: var(--light);
    }
}

@media screen and (max-width: 768px) {
    :root {
        --container-padding-horizontal: 1rem;
        --container-padding-vertical: 1rem;
    }
}