:root {
    --light: #FCFAFF;
    --dark: #070707;
    --dark-gray: #222222;
    --light-gray: #cbd5e1;
    --gradient: linear-gradient(135deg, #2D4DE0, #9F71F0 30%, #FC6277 60%, #F8EF6F 95%);
    --gradient-top-to-bot: linear-gradient(180deg,#2D4DE0, #9F71F0 30%, #FC6277 60%, #F8EF6F 95%);
    --font-mono: 'IBM Plex Mono', monospace;
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-size: 18px;
    --font-headings: var(--font-mono);
    --font-body: var(--font-sans);
    --font-color: var(--light);
    --background-color: var(--dark);
    --background-gray: var(--dark-gray);
    --container-padding-horizontal: 5rem;
    --container-padding-vertical: 2rem;
    --container-padding: var(--container-padding-vertical) var(--container-padding-horizontal);
    --burger-size: 2rem;
    --nav-height: calc(var(--container-padding-vertical) + var(--container-padding-vertical) + var(--burger-size));
    --full-height-minus-nav: calc(100vh - var(--nav-height));
    --section-full-height: calc(var(--full-height-minus-nav) - var(--container-padding-vertical));
    --border-width: 2px;
    --border-radius: 20px;
    --gradient-border-radius: calc(var(--border-width) + var(--border-radius));
    --hover-border-width: 6px;
    --hopver-gradient-border-radius: calc(var(--hover-border-width) + var(--border-radius));
    --section-margin: 5rem;
    --paragraph-margin: 2rem;
    --card-padding: 2rem;
    --card-body-margin: 1rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --font-color: var(--dark);
        --background-color: var(--light);
    }
}

@media screen and (max-width: 768px) {
    :root {
        --container-padding-horizontal: 1rem;
        --container-padding-vertical: 1rem;
    }
}