<section class="hero" id="hero">
    <div class="hero-text">
        <h1>Hi, I’m Andrija Jelenković <br> a software engineer</h1>
        <p>
            Officially, my job involves a lot of programming, designing, writing,
            code reviews etc.<br>
            But really? I solve problems, simple as that.
        </p>
        <div>
            <button class="button-primary">Contact me</button>
        </div>
    </div>
    <div class="hero-image">
        <img src="images/hero.svg">
    </div>
</section>