<section class="hero" id="hero">
    <div class="hero-text">
        <h1>Hi, I’m Andrija Jelenković <br> a software engineer</h1>
        <p>
            Officially, my job involves a lot of programming, designing, writing,
            code reviews etc.<br>
            But really? I solve problems, simple as that.
        </p>
        <div>
            <a href="mailto:andrija.jelenkovic@protonmail.com">
                <button class="button-primary">Contact me</button>
            </a>
        </div>
    </div>
    <div class="hero-image">
        <img src="images/hero.svg" alt="Hero image with my skills: Rust, C#, Go, JavaScript, HTML, CSS etc.">
    </div>
</section>