<div class="project">
    {{ with .Resources.GetMatch "cover.*"}}
    {{ with .Resize "x600 webp"}}
    <img src="{{ .RelPermalink }}">
    {{ end }}
    {{ end }}
    <div class="project-body">
        <div>
            <h3>{{ .Params.title }}</h3>
            <p>{{ .Params.summary }}</p>
            <ul class="project-technologies">
                {{ range .Params.technologies }}
                <li>{{.}}</li>
                {{ end }}
            </ul>
        </div>
        <div class="project-links">
            <a href="{{ .Params.github}}" target="_blank">GitHub 🡕</a>
            {{ if isset .Params "livelink"}}
            <a href="{{ .Params.livelink}}" target="_blank">Live 🡕</a>
            {{end}}
        </div>
    </div>
</div>